# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Users/zzz/Documents/4. Advanced - Java Spring/Solo/ElProyecteGrande-sprint3/src/main/resources/application.properties
/Users/zzz/Documents/4. Advanced - Java Spring/Solo/ElProyecteGrande-sprint3/pom.xml
